@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root{
    --cor-primaria: #0076cd;
    --cor-primaria-claro: #93C4FF;
    --cor-primaria-variante: #0095ff;
    --cor-info-escuro: #7d8da1;
    --cor-info-claro: #dce1eb;
    --cor-escuro: #363949;
    --cor-fundo: #f6f6f9;
    --cor-branco: #fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(0deg, var(--cor-fundo), var(--cor-primaria-claro));
    background-position: center;
    background-attachment: fixed;
}

.wave{
    position: fixed;
    height: 100%;
    top: -1;
    z-index: -1;
}

.L{
    left: 0%;
    justify-self: center;
    align-self: flex-end;
}

.R{
    right: 0%;
    justify-self: center;
    align-self: center;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

.img{
    display: flex;
    align-items: center;
}

.img img{
    width: 100%; 
}

.logo h2{
    text-transform: none;
    color: var(--cor-primaria);
    font-size: 2rem;
    margin: 0;
}

.form-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.start-flex{
    justify-content: flex-start;
}

.end-flex{
    justify-content: flex-end;
}


form{
    width: 80%;
    background-color: var(--cor-fundo);
	border-radius: 10px;
    padding: 30px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    min-width: 70%;
}

form h2{
    font-size: 2rem;
    text-transform: uppercase;
    margin: 45px 0 0 0;
    color: var(--cor-escuro);
}

a{
    text-decoration: none;
}

.profile-pic{
    width: 200px;
}


.input-div::before, .input-div::after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: var(--cor-primaria);
    transition: .3s;
}

.input-div::before{
    right: 50%;
}

.input-div::after{
    left: 50%;
}
.input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid var(--cor-info-claro);
}

.input-div.focus .i i{
    color: var(--cor-primaria);
}
.input-div.focus div h5{
    top: -5px;
    font-size: 15px;
}

.input-div.focus::before, .input-div.focus::after{
    width: 50%;
}

.i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i{
    color: var(--cor-info-claro);
    transition: .3s;
}

.input-div > div{
    position: relative;
    height: 45px;
}

.input-div > div h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--cor-info-escuro);
    font-size: 1.1rem;
    transition: .3s;
}

.input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: var(--cor-escuro);
}

.register{
    padding: 0.5rem 0.7rem;
    text-align: center;
}


.details{
    text-align: left;
    margin-bottom: 20px;
}

.forgot{
    display: block;
    text-align: right;
    color: var(--cor-info-escuro);
    font-size: 0.9rem;
    transition: .3s;
}

.forgot:hover{
    color: var(--cor-primaria-variante);
}

.btn{
    color: var(--cor-fundo);
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, var(--cor-primaria), var(--cor-primaria-variante), var(--cor-primaria));
    cursor: pointer;
    background-size: 200%;
    transition: .5s;
}

.btn:hover{
    background-position: right;
}

@media screen and (max-width: 1050px) {
    .container{
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    
    .container{
        grid-template-columns: 1fr;
    }

    form{
        width: 290px;
    }

    form h2{
        font-size: 2rem;
        margin: 8px 0;
        min-width: 100%;
    }

    .form-container{
        justify-content: center;
    }

    .wave{
        display: none;
    }

    .img{
        display: none;
    }
}

@media screen and (max-width: 580px) {
    .profile-pic{
        width: 40%;
    }
    
    form{
        min-width: 100%;
    }

    form h2{
        font-size: 1.5rem;
    }
    
    .logo h2{
        font-size: 1.5rem;
    }
    
    .container{
        padding: 5%;
    }
}